body {
    background-color: rgb(59, 46, 98) !important;
}

.padCustom {
    background-color: rgba(108, 117, 125, 0.4);
}

.glowing {
  animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  to {
    box-shadow: 0 0 20px #fff;
  }
}

.chatBox {
    height: 90vh;
}

.innerChatBox {
    max-height: 80vh;
    overflow-y: auto;
}